﻿

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid<KnowledgeBase.BLL.Models.Category>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CreationDate);
            columns.Bound(c => c.Name).Width(190);
            columns.Bound(c => c.Description);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetCategories", "Home"))
        )
        )


    </div>
  
</div>