﻿@model KnowledgeBase.BLL.Models.Post
@using KnowledgeBase.Web.App_GlobalResources;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Create", "Post", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "spinner", UpdateTargetId = "add-form" }, new { id = "creationForm_instructor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="add-form">
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <legend>@Post.AddingPost_CreatePost_Label</legend>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Title)
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
}
